#SAMPLE INPUT FILE; VALUES NOT REALISTIC
{
  
  # The process node.
  "tech_nm": 7,

  # The process node.
  "tech_nm": 7,

  # The operating voltage.
  "voltage": 0.7,

  # String to add in front of every metal layer number for the layer name.
  "metalPrefix": "M",

  # Horizontal Metal layer for macro pins, default layer 'metalPrefix + 4'
  "metalLayerPins": "M4",
 
  # The minimum pin width for signal pins.
  "pinWidth_nm": 24,

  # The minimum pin pitch for x, y signal pins 
  # currently set to matching with y track pitch
  "pinPitch_nm": 48,

  # Defaults to pinPitch_nm
  # currently set to matching with x track pitch
  "x_pinPitch_nm": 36,

  # Optional, default false, recommended to use when
  # aligning horizontal pins to y tracks.
  # setting to true assumes pin pitches are on tracks
  "heightSnaptoTrack": true,

  # Optional, defaults to 0 
  # unless heightSnaptoTrack is true 
  "y_offset_nm": 0,

  # Optional, defaults to 0
  "x_offset_nm": 0,

  # Manufacturing grid spacing for valid pin placement
  "manufacturing_grid_nm": 1,

  # Number of columns sharing a sense amplifier; 
  # Height divided by its column_mux_factor for all srams,
  # Column_mux_factor defaults to 1. Can be overriden for a specific
  # sram with parameter column_mux_factor_override in "sram". 
  # TODO: speed tradeoff when increased in LIB generation.
  "column_mux_factor": 4,

  # Needed values for lib generation / can be overriden
  # arbitrary 50ps setup
  "t_setup_ns": 0.050,
  
  # arbitrary 50ps hold 
  "t_hold_ns": 0.050,

  # cap input
  "cap_input_pf": 0.005,

  # Optional snap the width and height of the sram to a multiple value.
  "snap_width_nm":  190,
  "snap_height_nm": 1400,

  # Flips the pin orientations. Non-fliped assumes metal1 is vertical therefore
  # supply pins on metal4 will be horizontal and signal pins will also be on
  # metal4. If set to true, supply pins on metal4 will be vertical and signal
  # pins will be on metal3.
  "flipPins": false,

  # Vertical pins only, if true x_pinPitch is ignored, default false
  # read data pins on right, write data pins on left
  # used if violations reoccur, currently buggy, data pins might overlap, ensure with klayout
  "verticalPinsOnly": false,

  # uses custom_tech, defaults to false
  "use_custom_tech": true,

  # Custom tech parameters
  "custom_tech": {
    # If set to false means the tool will not use CACTI for memory 
    # modeling; it will use only the values provided in "custom_tech".
    # If set to true, the tool would run CACTI and then override any CACTI
    # generated values with those specified in "custom_tech".
    "hybrid": false,

    # REQUIRED PARAMS / OPTIONAL hybrid cacti override
    # params here would only be overrided by cacti
    "access_time_ns": 0.2183,
    "cycle_time_ns": 0.2566,
    "fo4_ps": 9.0632,
    "standby_leakage_per_bank_mW": 0.1289,
    "pin_dynamic_power_mW": 0.0013449,

    # NON-HYBRID REQUIRED PARAMS
    "finPitch_nm": 27,
    "contacted_poly_pitch_nm": 54,
    
    # Needed tracks/poly for asap7 122 sram cell
    # 10 fin pitches
    "h0_tracks": 10,
    "w0_polys": 2,

    # OPTIONAL VARIABLES (Ignored with hybrid)
    # Optional overhead, default: 1
    "dh_read": 2,
    "dw_read": 0.5,
    "dh_write": 2.5,
    "dw_write": 0.5,
    "dh_rw": 1,
    "dw_rw": 0.5

  },

  # List of SRAM configurations (name width depth and banks)
  "srams": [ 
    {"name": "fakeram.testram_1rw_39w2048d_sram", 
     "width": 39,
     "depth": 2048,
     "banks": 2,
     "pitchFactor": 6,
     "write_mode": "write_first",
     "r": 0,
     "w": 0,
     "rw": 1
    },

    {"name": "fakeram.testram_1w_64w256d_16_sram", 
     "width": 64,
     "depth": 256,
     "banks": 1,
     "pitchFactor": 5,
     "column_mux_factor_override": 2,
     "write_mode": "write_first",
     "write_granularity": 16,
     "r": 0,
     "w": 1,
     "rw": 0
    },
    {"name": "fakeram.testram_2rw_32w1024d_sram", 
     "width": 32,
     "depth": 1024,
     "banks": 1,
     "pitchFactor": 3,
     "write_mode": "read_first",
     "r": 0,
     "w": 0,
     "rw": 2
    },
    {"name": "fakeram.testram_1r1w_8w64d_4_sram", 
     "width": 8,
     "depth": 64,
     "banks": 1,
     "pitchFactor": 1,
     "write_mode": "write_first",
     "write_granularity": 4,
     "r": 1,
     "w": 1,
     "rw": 0
    },
    {"name": "fakeram.testram_2r_24w512d_sram", 
     "width": 24,
     "depth": 512,
     "banks": 1,
     "pitchFactor": 3,
     "write_mode": "read_first",
     "r": 2,
     "w": 0,
     "rw": 0
    },
    {"name": "fakeram.testram_1r2w_48w1024d_8_sram", 
     "width": 48,
     "depth": 1024,
     "banks": 2,
     "pitchFactor": 7,
     "write_mode": "read_first",
     "write_granularity": 8,
     "r": 1,
     "w": 2,
     "rw": 0
    },
    {"name": "fakeram.testram_2r2w_90w2048d_18_sram", 
     "width": 90,
     "depth": 2048,
     "banks": 2,
     "pitchFactor": 10,
     "write_mode": "read_first",
     "write_granularity": 18,
     "r": 2,
     "w": 2,
     "rw": 0
    }
  ]
}
